
body{
    margin: 0px;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100vw;
}

.text-center{
    text-align: center;
    font-size: 4em;
    color: white;
    background-color: #00a8ff;
    padding: 20px 0px;
    margin-top: 0px;
}

.custom-file{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-file-input{
    font-size: 25px;
    /* border: 2px solid #00a8ff; */
}

.button{
    margin: 30px 0px 0px 400px;
    font-size: 20px;
}

.mt-3{
    height: auto;
    width: 90vw;
    margin: 30px auto;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 12px;
}

.mt-3 h3{
    color: #00a8ff;
}


