@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -50px;
}
.text-center {
    text-align: center;
    font-size: 4em;
    color: white;
    background-color: #00a8ff;
    padding: 20px 0px;
    margin-top: 0px;
}
.custom-file {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-file-input {
    font-size: 25px;
}
.button {
    margin: 30px 0px;
    font-size: 20px;
}
.mt-3 {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    border: 2px solid black;
    padding: 20px 30px;
    border-radius: 12px;
    animation: dikho 1s ease-out 1;
    margin-top: 20px;
}
@keyframes dikho {
    0% {
        top: 50px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
.mt-3 h3 {
    color: #00a8ff;
}
.box-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.pages-box {
    height: auto;
    width: 47%;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.text-box {
    height: auto;
    width: 47%;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.page-image {
    max-width: 100%;
    height: auto;
    display: block;
}
.form-check {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
