<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutoGrade Dashboard</title>
    <!-- Add your CSS styles or include Bootstrap styles here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('dashboard') }}" class="navbar-brand">AutoGrade</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li>
                    <a href="{% if session['user_type'] == 'student' %}{{ url_for('upload_student') }}{% else %}{{ url_for('upload_teacher') }}{% endif %}">Upload</a>
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Results</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<img src="{{ url_for('static', filename='1694.jpg') }}" alt="Responsive Image">
<!-- Your dashboard content goes here -->

<!-- Add Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
