<!-- results.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoGrade Results</title>
    <!-- Add your CSS styles or include Bootstrap styles here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>

<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('home') }}" class="navbar-brand">AutoGrade</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_for('profile') }}">Profile</a>
                </li>
                <li class = "active">
                    <a href="{{ url_for('upload') }}">Upload</a> 
                </li>
                <li>
                    <a href="{{ url_for('results') }}">Results</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container1">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Upload</h2>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="file" accept=".pdf">
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="extraction_option" id="pytesseract" value="pytesseract" checked>
                    <label class="form-check-label" for="pytesseract">Pytesseract</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="extraction_option" id="google_vision" value="google_vision">
                    <label class="form-check-label" for="google_vision">Google Vision</label>
                </div>
                <button type="submit" class="btn btn-primary">Extract Text</button>
            </form>
            {% if text %}
            <div class="mt-3">
                <div class="box-container">
                    <div class="pages-box">
                        {% for img_path in page_images %}
                        <img src="{{ url_for('get_page', page_number=loop.index0) }}" alt="Page {{ loop.index0 }}" style="overflow-y: scroll;" class="page-image">
                        <br>
                        {% endfor %}
                    </div>
                    <div class="text-box">
                        <h3>Extracted Text from {{ filename }}:</h3>
                        <pre style="font-size: 1.5em;">{{ text }}</pre>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>


<!-- Add Bootstrap JavaScript and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
